<button (click)="stopInterval()">Click me!</button>
<h1>My TODOs</h1>
<form>
  <input
    type="text"
    placeholder="Add new TODO task"
    [(ngModel)]="newTodoText"
    [ngModelOptions]="{ standalone: true }"
  />
  
  <br />
  <br />
  
  <input
    type="text"
    placeholder="Autor"
    [(ngModel)]="autorText"
    [ngModelOptions]="{ standalone: true }"
  />

  <br />
  <br />
  <button type="submit" (click)="addTodo()">Add</button>
</form>
<!-- <div
  *ngFor="let todo of todos$ | async"
  class="todo"
  [ngClass]="{ 'not-todo-container': !todo.todo }"
>
  <span [ngClass]="{ 'not-todo': !todo.todo }">{{ todo.text }}</span>
  <div>
    <button (click)="removeTodo(todo.id)">Delete</button>
    <button (click)="toggleTodo(todo.id)">Toggle</button>
  </div>
</div> -->
<div
  *ngFor="let todoByAutor of todos$ | async | keyvalue"
>
    Group {{todoByAutor.key}}
    <div
        *ngFor="let todo of todoByAutor.value"
        class="todo"
    >
        <span [ngClass]="{ 'not-todo': !todo.todo }">{{ todo.text }}</span>
        <div>
            <button (click)="removeTodo(todo.id)">Delete</button>
            <button (click)="toggleTodo(todo.id)">Toggle</button>
        </div>
    </div>
</div>

<br />
<hr />
<br />

<div>
  <h1>Implementación de Método de Peticiones en Bloques</h1>
  <h2>Objetivo</h2>
  <p>
     Se requiere implementar el metodo <b>request$</b> para que retorne un <b>minimo de {{minValidElements}} elementos</b> validos. Para conseguir este resultado disponemos de los metodos:
  </p>
  <h3>requestChunk$</h3>
  <ul>
    <li><b>Parametros</b>: Se le pasara el parametro from para indicar a partir de que indice debe de buscar</li>
    <li><b>Limite de la paginacion</b>: Solo puede traer un maximo de 8 elementos por peticion</li>
    <li><b>Validez de los elementos</b>: Se deberan descartar los elementos no validos. Los elementos retornados podran tener 3 formas:</li>
      <ul>
      <li><b>Valido</b>: Si la propiedad <b>value es igual a 'valid'</b>.</li>
      <li><b>Invalido</b>: Si la propiedad <b>value es igual a null</b>.</li>
      <li><b>Necesaria request adicional</b>: Si el valor de la propiedad <b>requestUrl es igual a 'url'</b>.
      En este caso se debera de realizar una peticion a <b>requestFinalElement$</b> pasandole el index del elemento a comprobar para obtener el elemento real y poder comprobar si es valido o no.
      </li>
    </ul>
  </ul>
  <h3>requestFinalElement$</h3>
  <ul>
    <li><b>Parametros</b>: Se le pasara el parametro index del elemento sobre el que queremos obtener el elemento real</li>
    <li><b>Validez de los elementos</b>: Aplican las mismas reglas de validez para valido e invalido que para los resultados de requestChunk$</li>
  </ul>
  <h2>Requisitos Específicos</h2>
  <ul>
    <li>Se debe de mantener el orden de los elementos</li>
    <li>Se debera de seguir realizando peticiones hasta que se consigan almenos 16 elementos validos o la lista se termine y no existan mas elementos.</li>
  </ul>      
</div>
<h2>Resultado final</h2>
<div *ngFor="let item of result$ | async; let i = index">[{{i + 1}}] {{item | json}}</div>


<br />
<br />
<hr />
Users
<div *ngFor="let user of users$ | async; let i = index">id: {{user.id}}, name: {{user.name}}</div>

<br />
<br />
<hr />
Usernames
<div *ngFor="let username of usernames$ | async; let i = index">username: {{username}}</div>

<br />
<br />
<hr />
Active users
<div *ngFor="let user of filteredUsers$ | async; let i = index">username: {{user.name}}</div>

<br />
<br />
<hr />
New user with subject
<div *ngIf="user$ | async as user">New user: {{user.name}}</div>

<br />
<br />
<hr />
Combine Latest
<div *ngIf="combineLatestData$ | async as usersData">
  Users
  <div *ngFor="let user of usersData.users">id: {{user.id}}, name: {{user.name}}</div>

  <br />
  <hr />
  Usernames
  <div *ngFor="let username of usersData.usernames">username: {{username}}</div>

  <br />
  <hr />
  Active users
  <div *ngFor="let user of usersData.filteredUsers">username: {{user.name}}</div>
</div>